* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(95, 56, 25);
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 70%,   /* 中心は透明 */
    rgba(95, 56, 25, 0.1) 95%, /* 外側に色が出る */
    rgba(95, 56, 25, 0.1) 100% /* 端は濃く */
  );
}